.about {
  height: 1024px;
  background-image: url('/assets/images/about-background.svg');
  background-size: cover;
}

ul li {
  display: inline-block;
  vertical-align: top;
}

h2, h3 {
  font-family: 'Playfair Display';
  text-align: center;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

.description {
  margin-top: 20px;
}

li p {
  width: 250px;
  font-family: 'SanFranciscoText-Light';
}

ul {
  text-align: center;
}

.about .call-to-action {
  color: #333;
  border-radius: 50px;
  display: block;
  margin: 20px auto;
}

img {
  width: 100px;
  height: 100px;
}
