<section class="about" id="about">
  <h3>Located in Chicago, Illinois</h3>
  <h2>We're dedicated to providing the best beauty experience for our clients.</h2>
  <ul>
    <li>
      <img src="/assets/icons/cc.svg" />
      <h3>Personable</h3>
      <p>Friendly service that makes your visit enjoyable.</p>
    </li>
    <li>
      <img src="/assets/icons/open-book.svg" />
      <h3>Convenient</h3>
      <p>We work around your schedule to make it most convenient for you. Book an appointment up to 2 weeks beforehand.</p>
    </li>
    <li>
      <img src="/assets/icons/wallet.svg" />
      <h3>Affordable</h3>
      <p>We offer manicures, pedicares, and full spa treatments at affordable prices.</p>
    </li>
  </ul>
  <button onclick="location.href='/assets/Code-Sample-View.txt'" class="call-to-action">SEE OUR FULL RANGE OF SERVICES AND PRICES</button>
</section>
