<section class="whoweare" id="whoweare">
  <h1>WHO WE ARE</h1>
  <section class="protrait">
    <img src="">
    <h3>Co-owner</h3>
    <p>Lorem ipsum dolor sit amet, vim delicata deterruisset at, modo legendos his cu. Cu eam malis deleniti expetenda, ei elit dolore theophrastus nec.</p>
  </section>
  <section class="protrait">
    <img src="">
    <h3>Co-owner</h3>
    <p>Lorem ipsum dolor sit amet, vim delicata deterruisset at, modo legendos his cu. Cu eam malis deleniti expetenda, ei elit dolore theophrastus nec.</p>
  </section>

</section>
