<div id="map"></div>
<section class="contact-us" id="contact-us">
  <section class="contact-us-wrapper">
    <section class="contact-form-section">
      <h1>Contact Us</h1>
      <form class="contact-form" action="contact()" method="post">
        <input type="text" name="name" placeholder="Name" value="">
        <input type="text" name="email" placeholder="Email" value="">
        <textarea class="message" maxlength="500" placeholder="Send a message."></textarea>
        <input type="submit" class="" value="SEND">
      </form>
    </section>
    <section class="contact-info">
      <h1>Sunny's Nails</h1>
      <section>
        <section class="address">
          <h3>Address</h3>
          <p>1419 E. Palatine Rd</p>
          <p>Arlington Heights, IL 60004</p>
        </section>
        <section class="phone">
          <h3>Phone</h3>
          <p>(847) 670-7848</p>
        </section>
        <section class="hours">
          <h3>Hours:</h3>
          <p>Monday - Friday: 9:30 AM - 7:00 PM</p>
          <p>Saturday: 9:00 AM - 5:00 PM</p>
          <p>Sunday: Closed</p>
        </section>
      </section>
      <section>
    </section>
    <section>
      <h3>Email Us</h3>
      <a href="mailto:vlmlee2@gmail.com">info@sunnynails.com</a>
      <img src="/assets/icons/cc.svg" /><h3>Share</h3>
      <img src="/assets/icons/cc.svg" /><h3>Tweet</h3>
    </section>
    <p class="copyright">
      © 2017 Sunny's Nails <br>
      All Rights Reserved
    </p>
  </section>
</section>
