<section class="contact-us" id="contact-us">
  <section class="contact-us-wrapper">
    <section class="contact-form-section">
      <h1>Contact Us</h1>
      <form class="contact-form" action="contact()" method="post">
        <input type="text" name="name" placeholder="Name" value="">
        <input type="text" name="email" placeholder="Email" value="">
        <textarea class="message" maxlength="500" placeholder="Send a message."></textarea>
        <input type="submit" class="" value="SEND">
      </form>
    </section>
    <section class="contact-info">
      <h1>Sunny's Nails</h1>
      <section>
        <h3>Address</h3>
        <p></p>
        <h3>Phone</h3>
        <p></p>
      </section>
      <section>
        <h3>Email Us</h3>
        <h3>Share</h3>
        <h3>Tweet</h3>
      </section>
    </section>
  </section>
  <p class="copyright">
    © 2017 Sunny's Nails <br>
    All Rights Reserved
  </p>
</section>
