<carousel [interval]="3000">
  <slide>
    <img src="/assets/images/pexels-photo-332046.jpeg" height="500" width="auto" alt="first slide">
    <div class="carousel-caption">
      <h3>First Slide</h3>
      <p>Something here</p>
    </div>
  </slide>
  <slide>
    <img src="/assets/images/painting-fingernails-nail-polish-hearts-valentine-37553.jpeg" height="500" width="auto" alt="second slide">
    <div class="carousel-caption">
      <h3>Second Slide</h3>
      <p>Something here</p>
    </div>
  </slide>
</carousel>
