/* You can add global styles to this file, and also import other style files */

/**************
** CSS RESET **
**************/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/************/


@font-face {
  font-family: 'SanFranciscoText-Semibold';
  src: url('/assets/fonts/SanFranciscoText-Semibold.otf') format('otf')
}
@font-face {
  font-family: 'SanFranciscoText-Light';
  src: url('/assets/fonts/SanFranciscoText-Light.otf') format('otf')
}
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  font-family: 'SanFranciscoText-Semibold';
  width: 100%;
}

h1 {
  font-family: 'Playfair Display';
}

button,
input,
select,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

*:focus {
  outline: none;
}

.call-to-action {
  margin-top: 40px;
  padding: 15px 50px;
  border: 1px solid #EEA2FD;
  border-radius: 15px;
  background-color: transparent;
  font-family: 'SanFranciscoText-Semibold';
  font-size: 18px;
  color: #fff;
  letter-spacing: 3px;
}

carousel {
  z-index: 1;
}

carousel .carousel-control.left {
  background-image: none;
}

carousel .carousel-control.right {
  background-image: none;
}

#map {
  width: 100%;
  height: 440px;
}
